<div class="container">
    <div class="item">
        <img src="https://source.unsplash.com/avRd6COyLBY/300x500" alt="">
    </div>
    <div class="item">
        <h2>About Miniature Marvels</h2>
        <p>Our unique and amazing minature collectables are sure to be
            an attraction for all ages. They can be combined with toy sets,
            decorations, games, and any number of uses. We have many choices
            for you to explore from miniature people, cars, airplanes, animals
            and many other wonderful characters. Our prices are some of the
            most competetive in the market. You are sure to find anything
            you are looking for. If there is something you cannot find in our
            online store, simply contact us and we can find it for you. In addition,
            when you purchase an item we can guarantee timely delivery and a
            30-day money-back guarantee if for any reason you are not fully
            satisfied.
        </p>
    </div>
</div>