.container {
    width: 50%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0%;
    margin: 2% 5%;
}

.item {
    flex: 1;
    /* margin: 2%; */
    font-size: 14px;
}
