    <div class="container">
        <mat-card *ngIf="product" class="product">
            <mat-card-content>
                <h2>{{product.productName}}</h2>
                <p>{{product.description}}</p>
                <label>Price: ${{product.price}}</label>
                <br>
                <label>Type: {{product.productType}} </label>
            </mat-card-content>
            <img src="{{product.imageUrl}}/300x300" alt="">
            <!-- <a [routerLink]="['/menu']">Back</a> -->
            <mat-card-actions class="buttonsGroup">
                <button class="button" mat-flat-button color="primary" [routerLink]='["/products"]'>Back</button>
                <button class="button" mat-flat-button color="accent" [routerLink]='["/edit", product.id]'>Edit</button>
                <button class="button" mat-flat-button color="warn" (click)="onDelete(product.id)"
                    [routerLink]="['/menu']">Delete</button>
            </mat-card-actions>
        </mat-card>
    </div>