.container {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 2% 5%;
    height: 490px;
}
.product {
    text-align: center;
    width: 350px;
    padding: 1%;
    margin: 1% 2%;
    height: fit-content;
}   
button {
    margin: 5px 5px;
    border-radius: 10px;
}
