h2{
    padding: 3%;
}

.container {
    width: 100%; 
    display:flex; 
    flex-direction: row; 
    overflow: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.item {
    padding-top: 10%;  
}