h2{
    padding: 2.8%;
}

.container {
    width: 90%;
    max-width: 100%;
    display:flex; 
    flex-direction: row; 
    overflow: auto;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: auto;
}

.item {
    padding-top: 10%;
    margin: auto;
    
}